.chat-container {
  width: 35%;
  background-color: white;
  border-radius: 1rem;
  margin: 1rem;
  padding: 1rem;
}
.button {
  border: none;
  height: 2rem;
  width: 100px;
  margin-left: 1rem;
  border-radius: 0.5rem;
  color: lightgray;
  background-color: blue;
  transition: 500ms;
  padding: 0.5rem;
}

.button:hover {
  color: blue;
  background-color: lightgray;
  transition: 500ms;
}
.button:active {
  color: lightgray;
  background-color: blue;
}

.input {
  width: 70%;
  height: 1.5rem;
}

.message-container {
  margin-top: 1rem;
  text-align: justify;
}
