.containerChat {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(2, 1fr);
  width: 100%;
  margin-bottom: 0.5rem;
  border-radius: 0.5rem;
  padding: 0.5rem;
  background-color: lightslategrey;
}
.fecha {
  grid-row: 1/2;
  grid-column: 1/5;
  overflow-x: scroll;
}
.tituloChat {
  all: unset;
  grid-row: 2/3;
  grid-column: 1/5;
  border-radius: 0.5rem;
}
.tituloChat:focus {
  outline: 2px solid lightblue;
}
.tituloChat:hover {
  background-color: lightsteelblue;
  cursor: pointer;
  color: black;
}

.lastQuestion {
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  width: 80%;
}

.deleteChat {
  all: unset;
  color: red;
  justify-self: center;
  align-self: center;
  grid-row: 2/3;
  grid-column: 4/5;
  border-radius: 0.1rem;
  display: flex;
  align-items: center;
}
.deleteChat:focus {
  outline: 2px solid red;
}
.deleteChat:hover {
  cursor: pointer;
  color: red;
}

.bottomSection {
  padding: 0.5rem;
  position: absolute;
  bottom: 0;
}
