.containerCard {
  width: 20%;
  background-color: #202020;
  border-radius: 4px;
  position: absolute;
  right: 20%;
  top: 1rem;
  padding: 0.5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: white;
}

.containerCard > img {
  border: 1px solid whitesmoke;
  border-radius: 4px;
  margin: 4px;
}

.description {
  overflow-y: scroll;
  text-align: justify;
}

.close {
  all: unset;
  color: gray;
  font-size: 1.5rem;
  align-self: flex-end;
  cursor: pointer;
}
.close:focus {
  outline: 2px solid gray;
}
