.mainContainer {
  height: 100%;
  background-color: #202020;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.logo {
  padding: 0.5rem;
  width: 100%;
  height: auto;
}

.links {
  width: 100%;
  margin-top: 0.5rem;
  display: flex;
  flex-direction: column;
  align-items: stretch;
}

.links > a {
  background-color: transparent;
  color: white;
  text-decoration: none;
  height: 4rem;
  text-align: center;
  line-height: 4rem;
}

.links :global(.active) {
  background-color: #303030;
  color: whitesmoke;
}

.userCard {
  padding: 0.5rem;
}
