.mainContainer {
  height: 100%;
  background-color: #303030;
  display: flex;
  flex-direction: row;
  position: relative;
  justify-content: flex-end;
  align-items: center;
}

.chatContainer {
  height: 100%;
}

/* Map Styling */
.mysvg {
  height: 100%;
  width: auto;
  padding: 0.5rem;
  stroke: #303030;
  stroke-width: 1;
  stroke-linecap: round;
  stroke-linejoin: round;
}
.location {
  fill: #a1d99b;
  cursor: pointer;
}
.location:focus,
.location:hover {
  fill: #8a6fff;
  outline: 0;
}
