.mysvg {
  width: 100%;
  /* stroke es el contorno */
  stroke: darkslategray;
  stroke-width: 1;
  stroke-linecap: round;
  stroke-linejoin: round;
}
.location {
  fill: #a1d99b;
  cursor: pointer;
}
.location:focus,
.location:hover {
  fill: #8a6fff;
  outline: 0;
}
